In [2]:
varx = 18
vary = 21

In [3]:
if varx<18:
    print("underage")
    print("can not vote")
else:
    print("good to go")

good to go

In [4]:
if varx<21:
    print("underage")
    print("can not marry")
elif varx == 21:
    print("you decide")
elif varx > 21:
    print("happy married life")
else:
    print("dekhle, sochle")

underage
can not marry

In [5]:
varx = 28

In [7]:
if varx<21:
    print("underage")
    print("can not marry")
elif varx == 21:
    print("you decide")
elif varx > 21:
    print("happy married life")
else:
    print("dekhle, sochle")

happy married life

In [8]:
if varx < 40:
    print("forty")
elif varx == 28:
    print("twenty eight")
elif varx > 28:
    print("something")

forty

In [9]:
if varx<21:
    print("underage")
    print("can not marry")
elif varx == 21:
    print("you decide")
elif varx > 21:
    print("happy married life")
print("when is the event")

happy married life
when is the event

In [10]:
#   leap year

In [11]:
year = 0

In [12]:
if (year%4 == 0):
    print("leap year")
else:
    print("not a leap year")

leap year

In [13]:
year = 2019

In [14]:
if (year%4 == 0):
    print("leap year")
else:
    print("not a leap year")

not a leap year

In [15]:
year = 2000

In [16]:
if (year%4 == 0):
    print("leap year")
else:
    print("not a leap year")

leap year

In [17]:
year = 2100

In [19]:
if (year%4 == 0):
    if (year%100):
        print('not a leap year')
    else:
        print("leap year")
else:
    print("not a leap year")

leap year

In [20]:
year = 2100

In [23]:
if (year%4 == 0):
    if (year%100 == 0):
        if (year %400 == 0):
            print('leap year')
        else:
            print("not a leap year")
    else:
        print("leap year")
else:
    print("not a leap year")

not a leap year

In [24]:
year = 2000

In [25]:
if (year%4 == 0):
    if (year%100 == 0):
        if (year %400 == 0):
            print('leap year')
        else:
            print("not a leap year")
    else:
        print("leap year")
else:
    print("not a leap year")

leap year

In [26]:
while (year < 2003):
    print("hi")
    year = year + 1
print("last line")

hi
hi
hi
last line

In [32]:
year = 2001

In [33]:
while (year < 2020):
    if year%4==0:
        print(year)
    else:
        pass
    year = year + 1
print("last line")

2004
2008
2012
2016
last line

In [34]:
varx = 'spanlabs'

In [36]:
pass

In [37]:
for val in varx:
    print(val)

s
p
a
n
l
a
b
s

In [38]:
liste = ['tanaji', 'dabang3', 'masaan', 'optimus', 'megatron', 'panipat']

In [39]:
for movie in liste:
    print(movie)

tanaji
dabang3
masaan
optimus
megatron
panipat

In [40]:
for movie in liste[0:4]:
    print(movie)

tanaji
dabang3
masaan
optimus

In [42]:
for movie in liste[0]:
    #  for movie in 'tanaji'
    print(movie)

t
a
n
a
j
i

In [43]:
liste = ['tanaji', 'dabang3', 'masaan', 'optimus', 'megatron', 'panipat']

In [45]:
for movie in liste:
    print(movie[0], len(movie))

t 6
d 7
m 6
o 7
m 8
p 7

In [46]:
for i in range(4):
    print(i)

0
1
2
3

In [47]:
for i in range(4):
    print(liste[i])

tanaji
dabang3
masaan
optimus

In [48]:
print(i)

3

In [49]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [50]:
for i in range(2, 11, 3):
    print(i)

2
5
8

In [51]:
liste

['tanaji', 'dabang3', 'masaan', 'optimus', 'megatron', 'panipat']

In [54]:
find = 'dabang3'

In [55]:
for movie in liste:
    if(movie==find):
        print("found dabang3")
    else:
        pass

found dabang3

In [56]:
for movie in liste:
    if(movie=='dabang' or movie=='dabang2' or movie == 'dabang3'):
        print("found dabang")
    else:
        pass

found dabang

In [57]:
liste = ['tanaji', 'dabang3', 'masaan', 'optimus', 'megatron', 'dabang2']

In [58]:
for movie in liste:
    if(movie=='dabang' or movie=='dabang2' or movie == 'dabang3'):
        print(movie)
    else:
        pass

dabang3
dabang2

In [60]:
liste = ['tanaji', 'dabang3', 'masaan', 'optimus', 'megatron', 'dabang3']

In [63]:
for movie in liste:
    if movie == 'dabang3':
        print(liste.index(movie))
    else:
        pass

1
1

In [67]:
for i in range(len(liste)):
    if liste[i] == 'dabang3':
        print(i)
    else:
        pass

1
5

In [68]:
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [69]:
listf = [['aa', 'bb', 'cc'], ['dd', 'ee', 'aa'], 'hh', 'ii']

In [70]:
for val in listf:
    print(val)

['aa', 'bb', 'cc']
['dd', 'ee', 'aa']
hh
ii

In [73]:
listf = [['aa', 'bb', 'cc'], ['dd', 'ee', 'aa', 'tt', 'll']]

In [75]:
for val in listf:
    print(val)
    for i in val:
        print(i)
        for c in i:
            print(c)
    print("-------")

['aa', 'bb', 'cc']
aa
a
a
bb
b
b
cc
c
c
-------
['dd', 'ee', 'aa', 'tt', 'll']
dd
d
d
ee
e
e
aa
a
a
tt
t
t
ll
l
l
-------

In [76]:
for val in listf:
    print(val)
    for i in val:
        print(i)
    print("-------")

['aa', 'bb', 'cc']
aa
bb
cc
-------
['dd', 'ee', 'aa', 'tt', 'll']
dd
ee
aa
tt
ll
-------

In [77]:
listf

[['aa', 'bb', 'cc'], ['dd', 'ee', 'aa', 'tt', 'll']]

In [78]:
for i in range(len(listf)):
    for j in range(len(listf[i])):
        if listf[i][j] == 'ee':
            print(i, j)

1 1

In [79]:
for i in range(len(listf)):
    for j in range(len(listf[i])):
        if listf[i][j] == 'aa':
            print(i, j)

0 0
1 2